<form (submit)="onSubmit($event)" [formGroup]="form" name="form">
  <p-card header="Login">
    <p>
      <span class="p-input p-input-icon-left">
        <i class="pi pi-at"></i>
        <input pInputText type="email" placeholder="Email" name="email" formControlName="email" />
      </span>
      <small class="p-error block" role="error" *ngIf="form.controls.email.errors">{{
        form.controls.email.errors!['exist']
      }}</small>
    </p>

    <p>
      <span class="p-input p-input-icon-left">
        <i class="pi pi-key"></i>
        <input pInputText type="password" placeholder="Password" name="password" formControlName="password" />
      </span>
    </p>

    <p-footer>
      <button
        pButton
        type="submit"
        [icon]="form.disabled ? 'pi pi-spin pi-spinner' : ''"
        iconPos="right"
        [disabled]="form.disabled"
        label="Log in"
      ></button>
    </p-footer>
  </p-card>
</form>
